.parallax {
    background-image: url("https://docs.google.com/uc?id=1nPp5Q_8O_Zm8-0kTH_OtkOcvcyYmiVGq");

    min-height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}