.parallax {
    background-image: url("https://docs.google.com/uc?id=1hEaAHW2pHGbhm-Llmq6vIMA1gm2E_Fq7");

    min-height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}