<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75" src="https://docs.google.com/uc?id=1atAZPkSz0bmiC2fUOAoI25dY1RIyLNX8" alt="Imagem de capa do card">
    </div>
    <div class="card-body">
      <h5 class="card-title text-center text-monospace">{{nome}}</h5>
      <p class="card-text text-center text-monospace">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
      <a href="https://www.linkedin.com/in/wellingtonvieiradev" class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">Linkedin</a>

      <a href="https://github.com/wvieiras" class="btn btn-outline-dark d-flex mb-3 justify-content-center" target="_blank">Github</a>
    </div>
  </div>
